.layout-est {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-est__body {
  display: flex;
  flex: 1;
  padding-top: 56px;
}

.layout-est__contenido {
  flex: 1;
  margin-left: var(--sidebar-w);
  padding: 32px;
  min-height: calc(100vh - 56px);
  background: #F9FAFB;
  overflow-y: auto;
}
